[submodule "frontend/blockly"]
	path = frontend/blockly
	url = git@github.com:eborghi10/blockly.git
[submodule "frontend/ace-builds"]
	path = frontend/ace-builds
	url = git@github.com:eborghi10/ace-builds.git
